body {
  background-color: #f1dadd;
}

.container {
  width: 1024px;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;

}

.photo > img {
  border-radius: 4px;
}

.row, .basic-information-row {
  display: grid;
  grid-column-gap: 20px;
}

.row {
  grid-template-columns: 305px auto;
}

.basic-information-row {
  grid-template-columns: 1fr 3fr;
}

h1, h2 {
  margin: 0;
}

h1 {
  text-align: center;
}

.skills > span {
  display: inline-block;
  background-color: #979797;
  border-radius: 15px;
  padding: 3px 15px;
  margin-right: 10px;
  color: white;
}

